:root {
    --main-color: #54494B; 
    --side-color: #F1F7ED;
    --darker-main-color: #413c3c;
    --green: #91C7B1;
    --red: #B33951;
}


.start_button {
    /* border-width: 0px; */
    color: var(--main-color);
    font-size: 40px;
    font-weight: 700;
    border-radius: 7px;
    width: 200px;
    height: 75px;
    border: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.start_button:active {
    transform: scale(0.95); /* Slightly shrink the button */
    border:none;
    outline: none;
  }


  .sendMessageContainer {
    height: 250%;
  }


.inputField {
    box-shadow: 0 0 20px 5px rgb(0, 0, 0, .1);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--darker-main-color);
    border: none;
    font-family: "Montserrat", serif;
    font-weight: 600;
    color: var(--side-color);
    font-size: 1em; 
    /* border: .01em solid var(--side-color); */
    padding-left: 1.5em;
}


.inputField::placeholder{
    opacity: 1;
    color: var(--side-color)
}

.sendMessageButton{
    height: 100%;
    aspect-ratio: 1;
    border: none;
    outline: none;
    background: transparent;
    right: 0;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.sendMessageButton:hover {
    transform: scale(1.1);
}

.sendMessageButton:focus, .inputField:focus {
    outline: none;
}   

.input_container {
    width: 75%;
    height: 70vh;
    overflow: auto;
    scrollbar-width: none;

    scrollbar-color: var(--darker-main-color) var(--main-color);

}



.navBar {
    background-color: var(--darker-main-color);
    width: 100%;
    height: 100%;
    box-shadow: 0 0 20px .1px rgb(0, 0, 0, .5);
}

.header_container {
    height: 6vh;
    padding-left: 0;
    padding-right: 0;
}

.logo {
    color: var(--side-color);
    font-weight: 600;
    font-size: 1.83vh;
}

.message_box {
    border: none;
    box-shadow: none;  
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 35%;
} 

.message_box_sender {
    background-color: var(--side-color);
    color: var(--darker-main-color);
}

.message_box_receiver {
    background-color: var(--darker-main-color);
    color: var(--side-color);
    
}

.greenStatus {
    border-radius: 10px;
    width: 5px;
    height: 5px;
    background-color: var(--green);

}


.redStatus {
    border-radius: 10px;
    width: 5px;
    height: 5px;
    background-color: var(--red);

}
