:root {
    --main-color: #54494B; 
    --side-color: #F1F7ED;
    --darker-main-color: #413c3c;
    --lighter-main-color: #534e4e;
    --green: #91C7B1;
    --red: #B33951;
    --normal: 500;
    --bold: 600;
}


.start_button {
    /* border-width: 0px; */
    background-color: var(--side-color);
    color: var(--main-color);
    font-size: 4vw;
    font-weight: 600;
    border-radius: 7px;
    width: 15vw;
    height: calc(15vw * 0.375);
    border: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.start_button:active {
    transform: scale(0.95); /* Slightly shrink the button */
    border:none;
    outline: none;
  }

.start_button:focus {
    outline: none;
    border: 2px, solid, var(--darker-main-color);
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.01);
}

  .sendMessageContainer {
    height: 250%;
    
  }


.lower {
    color: var(--side-color);
    font-size: 7vw;
    font-weight: var(--normal);
}

.lower_container {
    gap: 4px;
}

.lower_underline {
    text-decoration-thickness: 5px; 
    text-underline-offset: 8px;
    text-decoration-color: var(--side-color);
}   


.middle {
    color: var(--side-color);
    font-weight: var(--bold);
    font-size: 24vw;
    
}


.top {
    font-weight: var(--bold);
    color: var(--side-color);
    font-size: 2.08vw;
    transform: translateY(3px);
}

.middle_container {
    line-height: .8;
}
/* chat page start here */

.inputField {
    box-shadow: 0 0 20px 5px rgb(0, 0, 0, .1);
    /* width: clamp(10vw, 100%, 100%); */
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--darker-main-color);
    border: none;
    font-family: "Montserrat", serif;
    font-weight: 600;
    color: var(--side-color);
    font-size: 100%; 
    /* border: .01em solid var(--side-color); */
    padding-left: 1.5em;
    
}


.inputField::placeholder{
    opacity: 1;
    color: var(--side-color)
}

.sendMessageButton{
    height: 100%;
    aspect-ratio: 1;
    border: none;
    outline: none;
    background: transparent;
    right: 0;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}


.sendMessageButton:hover {
    transform: scale(1.1);
}

.sendMessageButton:focus, .inputField:focus {
    outline: none;
}   

.input_container {
    width: 50%;
    height: 70vh;
    overflow: auto;
    scrollbar-width: none;

    scrollbar-color: var(--darker-main-color) var(--main-color);

}

.navBar {
    background-color: var(--darker-main-color);
    width: 100%;
    height: 100%;
    box-shadow: 0 0 20px .1px rgb(0, 0, 0, .5);
}



.header_buttons_container {
    gap: 1vw; 
}

.header_container {
    height: 6vh;
    padding-left: 0;
    padding-right: 0;
}

.logo {
    color: var(--side-color);
    font-weight: 600;
    font-size: 1.83vh;
}

.popup_container {
    background-color: var(--side-color);
    width: 25vw;
    height: 25vh;
    border-radius: 10px;
    color: var(--darker-main-color);
}

.popup_header{
    stroke: var(--main-color);
    font-weight: var(--bold);
    font-size: 1vw;
    padding: 1vh 0;
}   

.popup_input{
    background-color: var(--side-color);
    outline: var(--darker-main-color);
    user-select: none;
    width: 75%;
    height: 60%;
    border-radius: 5px;
    font-size: 1vw;
    resize: none;
    color: var(--main-color);
}

.popup_submit{
    background-color: var(--side-color);
    user-select: none;
    outline: none;
    font-weight: var(--bold);
    border-radius: 5px;
    width: 6vw;
    font-size: 1vw;

}

.message_box {
    border: none;
    box-shadow: none;  
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 100%;
    border-radius: 10px;
} 

.message_box_sender {
    color: var(--darker-main-color);
    background-color: var(--side-color);
}

.message_box_receiver {
    background-color: var(--darker-main-color);
    color: var(--side-color);
    
}


.message_box_receiver_name {
    text-align: left;
}

.message_box_sender_name {
    text-align: right;
}

.message_box_username {
    font-size: 10px;
}

.greenStatus {
    border-radius: 10px;
    width: 5px;
    height: 5px;
    background-color: var(--green);

}


.redStatus {
    border-radius: 10px;
    width: 5px;
    height: 5px;
    background-color: var(--red);

}


.statusText {
    font-weight: 600;
}

.status_container {
    background-color: var(--side-color);
    width: 200px;
    gap: 5;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    white-space: nowrap;
}

@media (max-width: 767px) {
    .sendMessageButton{
        display: none;
    }

    .status_container{
        display: none;
    }
}
